<link id = "icon library link" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<header id="top-header">
  <h1>LlanezaDev</h1>
  <ul class="top-icons">
    <li><a href=""><i class="fa-solid fa-circle-half-stroke"></i></a></li>
    <li><a href=""><i class="fa-solid fa-file"></i></a></li>
    <li><a href=""><i class="fa-solid fa-code-fork"></i></a></li>
  </ul>
</header>
<main>
  <article class="introduction">
    <h3>Soy Jorge Llaneza</h3>
    <p>Un desarrollador apasionado por las tecnologías web backend y frontend en constante aprendizaje</p>
  </article>
</main>
