:host {
    --color-1: #1a1f3d;
    --color-2: #5c6b99;
    --color-3: #8f9fc1;
    --color-4: #a1c5e2;
    --color-5: #e0e8f5;
    --p-font-size: clamp(1rem,.75rem + 2vw,1.5rem)
  }
a {
    text-decoration: none;
    color: inherit;
}
p {
    line-height: 2rem;
    font-size: var(--p-font-size);
}
header {
    box-sizing: border-box;
    background-color: var(--color-2);
    color: var(--color-5);
    width: 100%;
    padding: 10px calc(5px + 2vw);
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px; 
}
header h1 {
    margin: 0px;
    font-size: calc(1rem + 3vw);
}
header ul {
    list-style: none;
    font-size: calc(1rem + 4vw);
    padding: 0px;
    margin: 0px;
    gap: 30px;
}
main {
    width: 100%;
    padding: 10px calc(5px + 2vw);
    min-height: 100vh;
    margin: 16px auto 16px auto;
    background-color: #1a1f3d;
    max-inline-size: 66ch;
}
.top-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}